<%= render '/shared/errors', obj: @article%>

<div class="row">
  <div class="col-md-12">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,class: "form-control", placeholder:"Title of Article", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.collection_check_boxes :category_ids, Category.all, :id,:name do |cb|%>
          <div class="form-check form-check-inline">
            <%# <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label> %>
            <%= cb.label(class: "form-check-label") {cb.check_box(class:"form-check-input") + cb.text } %>
          </div>

        <% end %>
      </div>
      <p>
        <%= f.label :description%>
        <%= f.text_area :description , class: "form-control", placeholder: "Title of Description"%>
      </p>
      <p>
        <%= f.submit(@article.new_record? ? "Create Article" : "Edit Article",class: "btn btn-primary")%>
      </p>
    <% end%>
  </div>
</div>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to "Back to articles listing", articles_path %> ]
</div>
