<%= render '/shared/errors', obj: @article%>

<div class="row">
  <div class="col-md-12">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,class: "form-control", placeholder:"Title of Article", autofocus: true %>
      </div>
      <p>
        <%= f.label :description%>
        <%= f.text_area :description , class: "form-control", placeholder: "Title of Description"%>
      </p>

      <p>
        <%= f.submit(@article.new_record? ? "Create Article" : "Edit Article",class: "btn btn-primary")%>
      </p>
    <% end%>
  </div>
</div>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to "Back to articles listing", articles_path %> ]
</div>
