
<h2 align="center">
  Title : <%= @article.title%>
</h2>
<div class="card-group col-8 offset-sm-2">
  <div class="card description">
    <h4 align="center" class="card-title">
      <strong>Description</strong>
    </h4>
    <p class="card-text">
      <%= simple_format(@article.description) %>
    </p>
  </div>
</div>

<div class="article-actions" align="center">
  <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
  <%= link_to "Delete Article", article_path(@article), method: :delete,
                              data: {confirm: "Are your sure, you want to delete article?"},
                              class: "btn btn-sm btn-danger" %>
  <%= link_to "View All Articles", articles_path , class: "btn btn-sm btn-success"%>
</div>