<%= render '/shared/errors', obj: @user%>

<div class="row">
  <div class="col-md-12">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username,class: "form-control", placeholder:"User Name", autofocus: true %>
      </div>
      <p>
        <%= f.label :email%>
        <%= f.text_field :email , class: "form-control", placeholder: "Email"%>
      </p>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password,class: "form-control", placeholder:"Enter Password" %>
      </div>


      <p>
        <%= f.submit "Sign Up",class: "btn btn-primary"%>
      </p>
    <% end%>
  </div>
</div>
<div class="col-xs-4 col-xs-offset-4">
  [ <%= link_to "Back to articles listing", articles_path %> ]
</div>
