<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# <a class="navbar-brand" href="#" id="logo">Alpha Blog</a> %>
  <%= link_to "Alpha Blog",root_path, class:"navbar-brand", id: "logo"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%# <a class="nav-link" href="#">Link</a> %>
        <%= link_to "Articles", articles_path , class:"nav-link"%>
      </li>
      <% if logged_in?%>
        <li class="nav-item">
          <%= link_to "All Users", users_path , class:"nav-link"%>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%# <a class="dropdown-item" href="#">Action</a> %>
          <% if logged_in? %>
          <%= link_to "View Your Profile", user_path(current_user), class:"dropdown-item" %>
          <%= link_to "Edit Your Profile", edit_user_path(current_user), class:"dropdown-item" %>
          <%= link_to "New Article", new_article_path, class:"dropdown-item"%>
          <%= link_to "Logout", logout_path, class:"dropdown-item", method: :delete%>
          <%# <a class="dropdown-item" href="#">Another action</a> %>
          <% else %>
          <%= link_to "Login", login_path, class:"dropdown-item" %>
          <%= link_to "Sign Up", signup_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>